<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<settings>
	<!--处理mapper.xml map返回的空字段问题  -->
	<setting name="callSettersOnNulls" value="true"/>
</settings>
<!-- 别名的定义 -->
<typeAliases>
    <!-- 批量定义别名 ，指定包名，自动扫描包中的类，别名即为类名-->
    <package name="com.ice.model"/>
</typeAliases>
<mappers></mappers>
</configuration>